
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Libre+Bodoni&family=Playfair+Display&family=Roboto:wght@100;400&family=Shrikhand&family=Simonetta&family=Special+Elite&display=swap');
    </style>
    <title>Bookstore</title>
    <% if ( typeof pageName !== 'undefined' ){%>
        <!-- we need to check if a varaible is defined in EJS before we can use it. -->
        <title> R & D Books | <%= pageName %></title>
    <% } else {%>
        <title>R & D Books</title>
    <% } %>

</head>
