<nav>
    <div>
        <a href="/"> Home </a> 
        <span> | </span>
        <a href="/products">Book Index</a>
        <span> | </span>
        <a href="/products/new">Create New Product</a>
        <span> | </span>
        <a href="/reviews/new">Add Review</a>
        <span> | </span>
        <a href="/login">Login</a>
        <span> | </span>
        <a href="/register">Register</a>
    </div>
</nav>