<nav class="navbar">
    <div class = "navdiv"> 
        <h1>R&D Books</h1>
        <ul>
            <li><a href="/"> Home </a> </li>
            <li><a href="/products">Shop All</a> </li>
        </ul>
    </div>
</nav>