<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Book</title>
</head>
<body>
    <form action="/products/<%= book._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Book Title:</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="price"> Book Price: </label>
            <input id="price" name="price" type="number" />
        </div>
        <div>
            <label for="image"> Book Image(url): </label>
            <input id="image" name="image" type="text" />
        </div>
        <div>
            <label for="author">Author:</label>
            <input type="text" name="author" id="author">
        </div>
        <div>
            <label for="publisher">Publisher</label>
            <input type="text" name="publisher" id="publisher">
        </div>
        <div>
            <label for="publishDate">Publication Date: </label>
            <input type="text" name="publishDate" id="publishDate">
        </div>
        <div>
            <label for="pages">Page Number:</label>
            <input type="number" name="pages" id="pages">
        </div>
        <div>
            <label for="summary">Summary:</label>
            <textarea name="summary" id="summary" placeholder="Insert summary here."></textarea>
        </div>
        <input type="submit" value="Update Book">
    </form>
</body>
</html>