<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <h1>R & D Books</h1>
    <form action="/search" method="POST">
        <input id="search" type="text" name="book" value="" placeholder="Book Title or Author">
    <input type="submit">
</form>
</body>
</html>
