<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', { pageName: "New Book" }) %>
<body>
    <div class = 'header'>
        <%- include('./partials/nav.ejs') %>
    </div>
    <form action="/products" method="POST">
        <div>
            <label for="title">Book Title:</label>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <label for="author">Author:</label>
            <input type="text" name="author" id="author">
        </div>
        <div>
            <label for="image"> Book Image(url): </label>
            <input id="image" name="image" type="text" />
        </div>
        <div>
            <label for="price"> Book Price: </label>
            <input id="price" name="price" type="number" />
        </div>
        <div>
            <label for="genre">Genre:</label>
            <input type="text" name="genre" id="genre">
        </div>
        <div>
            <label for="condition">Product Condition:</label>
            <input type="text" name="condition" id="condition">
        </div>
        <div>
            <label for="location">Product Location:</label>
            <input type="text" name="location" id="location">
        </div>
        <div>
            <label for="summary">Summary:</label>
            <textarea name="summary" id="summary" placeholder="Insert summary here."></textarea>
        </div>
        <div>
            <label for="seller">Seller Name:</label>
            <input type="text" name="seller" id="seller">
        </div>
        <input type="submit" value="Add Book">
    </form>
    <form>
        <input type="button" value="Return" onclick="history.back()">
    </form>   
    <div class='footer'>
        <%- include('./partials/footer.ejs') %>
    </div> 
</body>
</html>