<!DOCTYPE html>
<%- include('../partials/head.ejs', {pageName: 'Edit Review'}) %>
<html lang="en">
    <body>
        <h1>Edit Review</h1> 
        <form action="/reviews/<%= review._id%>?_method=PUT" method="POST">
            
            <label>
                Rating:
                <input type="number" name="rating">
            </label><br/>
            <label>
                Review:
                <input type="string" name="content">
            </label><br/>
            <input type="submit" value="Update Review">
        </form>
        <form>
            <input type="button" value="Return" onclick="history.back()">
        </form>
    
    </body>
</html>