<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Show page</title>
</head>
<body>
    <h1>Review Show Page</h1>
    <p>Product: <%= review.product.name %></p>
    <a href="/products/<%= review.product._id %>">Find more information about <%= review.product.name %></a>
</body>
</html>